<a href="https://colab.research.google.com/github/Sainithinreddyk/SaiNithinReddy_INFO5731_-Spring2023/blob/main/INFO5731_Inclassexercise01_SaiNithinReddyKoppula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO 5731 IN CLASS EXERCISE-01**
###                             **K.Sai Nithin Reddy(11599559)**

1. Length of string

In [68]:
#I have taken the sample string as Nithin in ex to caluculate the lenth of the ex using len
ex= "Nithin"
print("The length of the taken string is:",len(ex))

The length of the taken string is: 6

2. Count the char in string

In [69]:
#To get the number of charecters in a given string from the string
ex = "sainithinreddy"
#To store thr charecters I have taken a empty set
charCount = {}
#Here itreation goes on and if an char is repeted it goes to for loop else it goes to else
for i in ex:
    if i in charCount:
        charCount[i] += 1
    else:
        charCount[i] = 1
#To sort the charecters 
sortCharCount = sorted(charCount.items(), key=lambda x:x[1], reverse=True)
print(dict(sortCharCount))

{'i': 3, 'n': 2, 'd': 2, 's': 1, 'a': 1, 't': 1, 'h': 1, 'r': 1, 'e': 1, 'y': 1}

3. Sum of List

In [70]:
#To print the sum of the list I have taken a list
ex = [1,2,3,4]
#Intially I assuemed sum as zero
s=0
#Here it iterates from 0 to n char and gets stored in s
for i in range(0,len(ex)):
  s+=+ex[i]
print("Sum oflist using for loop is :",s)

x = [1,2,3,4,5]
print("Sum of the list using sum method is:",sum(x))

Sum oflist using for loop is : 10
Sum of the list using sum method is: 15

4. Replace first occurence with $

In [71]:
ex="nithin"
#Here I have taken o as the first char of the string
o = ex[0]
#Using replace method I have replaced the first char with $
ex = ex.replace(o, '$')
#Now our aim is to change the occurence of first char except first so I have taken the first char and then concatenated
ex = o + ex[1:]
print(ex)

nithi$

 5. O/P of S

In [72]:
#Reading the inputs a and b from console
a=int(input())
b=int(input())
#To find the result of given Mathematical equation
S=3.14*((1+a/b)**3)
print("The value of S is:",S)

77
88
The value of S is: 20.6982421875

6. Merge Dict

In [73]:
#Here I have taken 3 sample dict as ex1,ex2,ex3
ex1= {9:10, 6:20}
ex2={4:30, 8:40}
ex3={0:50,7:60}
#To merge the dict I have used **
print("Concat of dict is:",{**ex1, **ex2, **ex3})

Concat of dict is: {9: 10, 6: 20, 4: 30, 8: 40, 0: 50, 7: 60}

7.Element in tuple

In [74]:
#Here I have taken the saple input and I have checked if it exists or not in the tuple it returns True if it exits and False it it doesn't
ex = ("N","I","T","H","I","N","1","9","9","9")
print("N" in ex)
print("U" in ex)
print("7" in ex)
print("H" in ex)

True
False
False
True

8. Min and Max

In [75]:
#To finf the min and max in the set I have taken the set and found using the min and max methods
ex =set([9,4,0,8,4,3,5,0,0,2])
print("Minimum elememt in the Set:",min(ex))
print("Maximum elememt in the Set:",max(ex))

Minimum elememt in the Set: 0
Maximum elememt in the Set: 9

9. Divide the students into groups

In [76]:
import random
#Here I have imported random to divide the students into groups randomly
from itertools import islice
#Here I have imported islice to get the groups in the specific elements

ll = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
#Given list
l = [4,4,6,5]
#Division of groups
random.shuffle(ll)
#Shuffling the students
sl = iter(ll)
#Divinding into the groups mentioned
print("The project division list is:", [list(islice(sl, elem))for elem in l])

The project division list is: [['pc0353', 'ds0761', 'vmb0067', 'at0768'], ['yye0005', 'spk0057', 'nm0547', 'sg0940'], ['msp0174', 'snd0097', 'dy0091', 'hc0439', 'at0739', 'dd0420'], ['rrk0058', 'rak0120', 'pn0159', 'bk0301', 'ri0094']]

10. Duplicates

In [77]:
#I have taken the sample array
arr = [9,4,8,7,6]
duplicates =[]
#Here I am going to iterate and check the count if the count is more than 1 then it stores in the new list
for i in arr:
  if arr.count(i)>1 and arr.count(i)!=0:
    if(i not in duplicates):
      duplicates.append(i)
#If count of duplicates is equal to zero then it returns -1 else it returns duplicates
if len(duplicates)==0:
  print(-1)
else:
  print(duplicates)

-1

11. Sundays in a year

In [78]:
import pandas as pd
#Here I have imported the pandas 
year = "1999"
day = "SUN"
#Data range returns the exact frequency of date time and series is used to get in the sequence
#The parameters that I passed are start date and period as 52 as there are 52 weeks in a year and W-day i.e W-SUN refers to the sunday in a week
days = pd.Series(pd.date_range(start = year + "-01-01", periods = 52, freq = "W-" + day))                   
print(days)

0    1999-01-03
1    1999-01-10
2    1999-01-17
3    1999-01-24
4    1999-01-31
5    1999-02-07
6    1999-02-14
7    1999-02-21
8    1999-02-28
9    1999-03-07
10   1999-03-14
11   1999-03-21
12   1999-03-28
13   1999-04-04
14   1999-04-11
15   1999-04-18
16   1999-04-25
17   1999-05-02
18   1999-05-09
19   1999-05-16
20   1999-05-23
21   1999-05-30
22   1999-06-06
23   1999-06-13
24   1999-06-20
25   1999-06-27
26   1999-07-04
27   1999-07-11
28   1999-07-18
29   1999-07-25
30   1999-08-01
31   1999-08-08
32   1999-08-15
33   1999-08-22
34   1999-08-29
35   1999-09-05
36   1999-09-12
37   1999-09-19
38   1999-09-26
39   1999-10-03
40   1999-10-10
41   1999-10-17
42   1999-10-24
43   1999-10-31
44   1999-11-07
45   1999-11-14
46   1999-11-21
47   1999-11-28
48   1999-12-05
49   1999-12-12
50   1999-12-19
51   1999-12-26
dtype: datetime64[ns]